<% include header %>

<h2><span>THIS IS FAKE!</h2>
<h1><a href="/"><< take me to real FAKE NEWS</a></h1>

<section>
<p>This <%- zoekopdracht %> is totaly FAKE because we didn't found it</p>
</section>

<% include footer %>
